@{
  Layout="Shared/_Layout.cshtml";
}

<h2>Band: @Model["band"].GetName()</h2>
<hr />
@if (@Model["bandVenues"].Count != 0)
{
  <h4>Here are all the venues this band has played:</h4>
  <ul>
    @foreach (var venue in @Model["bandVenues"])
    {
      <li><a href='/venues/@venue.GetId()'>@venue.GetName()</a>
        <a class="leftmargin btn-sm btn-success" href="/venues/update/@venue.GetId()">Update</a>
      </li>
    }
  </ul>
}
<h4>Add a venue to this band:</h4>
<form action='/band/add_venue' method='post'>
  <input id='band-id' name='band-id' type='hidden' value='@Model["band"].GetId()'>
  <label for='venue-id'>Select a venue</label>
  <select id='venue-id' name='venue-id' type='text'>
    @foreach (var venue in @Model["allVenues"])
    {
      <option value='@venue.GetId()'>@venue.GetName()</option>
    }
  </select>
  <button type='submit' class="light-button">Add</button>
</form>
<hr>
<h4><a href="/bands/update/@Model["band"].GetId()">Update this band</a></h4>

<form action="/band/delete/@Model["band"].GetId()" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <button type="submit" class="light-button">Delete</button>
</form>
<br>
<p><a class="btn-sm btn-primary" href="/">Return to Main Page</a></p>
